/* You can add global styles to this file, and also import other style files */
th{
    width: 200px;
    text-align: left;
}

.user-data{
    background: lavender;
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.login{
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
    .centerd-form-items{
        margin: auto;
        width: 50%;
        padding: 10px;
        .form-input{
            padding-bottom: 20px;
            input{
                width: 100%;
                height: 25px;
            }
        }
        .submit-btn{
            width: 50%;
            padding: 10px;
            margin: auto;
        }
    }
    
}

.header{
    background: radial-gradient(#039be5, transparent);
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 10px;
}